prune doc
prune util
include *.txt
include LICENSE
include *.rst
include tox.ini
recursive-include test_muacrypt *.eml
recursive-include test_muacrypt *.py
recursive-include test_muacrypt *.secretkey

